h1 {
    background-color: hsl(180, 100%, 85%);
    color:hsl(32, 74%, 34%);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 36px;
    width: 400px;
    height: auto;
}

.list {
    background-color: hsl(36, 100%, 90%);
    font-size: 24px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    width: 360px;
    height: auto;
}

.list .list-item {
    color: rgb(255, 0, 0);
}

